<?xml version="1.0"?>
<config>
    <modules>
        <Lengow_Marketplace>
            <version>3.0.0</version>
        </Lengow_Marketplace>
    </modules>
    <frontend>
        <routers>
            <lengow>
                <use>standard</use>
                <args>
                    <module>Lengow_Marketplace</module>
                    <frontName>lengow</frontName>
                </args>
            </lengow>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <lengow_marketplace before="Mage_Adminhtml">Lengow_Marketplace_Adminhtml</lengow_marketplace>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--<admin>
      <routers>
        <lengow>
          <use>admin</use>
          <args>
            <module>Lengow_Marketplace</module>
            <frontName>lengow</frontName>
          </args>
        </lengow>
        <adminhtml>
          <args>
            <modules>
              <Lengow_Marketplace before="Mage_Adminhtml">Lengow_Marketplace_Adminhtml</Lengow_Marketplace>
            </modules>
          </args>
        </adminhtml>
      </routers>
    </admin>-->
    <global>
        <models>
            <lengow>
                <class>Lengow_Marketplace_Model</class>
                <resourceModel>lengow_mysql4</resourceModel>
            </lengow>
            <lengow_mysql4>
                <class>Lengow_Marketplace_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>lengow_log</table>
                    </log>
                </entities>
            </lengow_mysql4>
        </models>
        <resources>
            <lengow_setup>
                <setup>
                    <module>Lengow_Marketplace</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </lengow_setup>
        </resources>
        <blocks>
            <lengow>
                <class>Lengow_Marketplace_Block</class>
            </lengow>
        </blocks>
        <helpers>
            <lengow_marketplace>
                <class>Lengow_Marketplace_Helper</class>
            </lengow_marketplace>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <lengow_marketplace>
                    <files>
                        <default>Lengow_Connector.csv</default>
                    </files>
                </lengow_marketplace>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lengow_export_options>
                                            <title>Export Feed Configuration</title>
                                        </lengow_export_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <lengow_marketplace>
                    <file>lengow.xml</file>
                </lengow_marketplace>
            </updates>
        </layout>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Lengow_Marketplace/>
            </modules>
            <fixture>
                <lengow_log>lengow/lengow_log</lengow_log>
            </fixture>
        </suite>
    </phpunit>
    <default>
        <lengow_export>
            <global>
                <active_store>0</active_store>
                <export_only_selected>0</export_only_selected>
                <autoexport_newproduct>0</autoexport_newproduct>
                <export_soldout>0</export_soldout>
                <producttype>simple,configurable</producttype>
                <productstatus></productstatus>
            </global>
            <data>
                <format>csv</format>
                <count_images>5</count_images>
                <parentsimages>0</parentsimages>
                <levelcategory>5</levelcategory>
                <without_product_ordering>0</without_product_ordering>
                <formatdata>0</formatdata>
                <html_attribute>0</html_attribute>
                <shipping_price_based_on>FR</shipping_price_based_on>
                <default_shipping_price></default_shipping_price>
                <default_shipping_method>flatrate_flatrate</default_shipping_method>
                <default_shipping_delay>2</default_shipping_delay>
            </data>
            <attributelist>
                <attributes>0</attributes>
            </attributelist>
            <performances>
                <valid_ip></valid_ip>
                <optimizeexport>1</optimizeexport>
                <usesavefile>0</usesavefile>
                <active_cron>0</active_cron>
            </performances>
        </lengow_export>
    </default>
</config>
