<?xml version="1.0"?>
<config>
  <modules>
    <Lengow_Marketplace>
      <version>3.0.0</version>
    </Lengow_Marketplace>
  </modules>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <lengow_marketplace before="Mage_Adminhtml">Lengow_Marketplace_Adminhtml</lengow_marketplace>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <!--<admin>
    <routers>
      <lengow>
        <use>admin</use>
        <args>
          <module>Lengow_Marketplace</module>
          <frontName>lengow</frontName>
        </args>
      </lengow>
      <adminhtml>
        <args>
          <modules>
            <Lengow_Marketplace before="Mage_Adminhtml">Lengow_Marketplace_Adminhtml</Lengow_Marketplace>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>-->
  <global>
    <models>
      <lengow>
        <class>Lengow_Marketplace_Model</class>
        <resourceModel>lengow_mysql4</resourceModel>
      </lengow>
      <lengow_mysql4>
        <class>Lengow_Marketplace_Model_Mysql4</class>
        <entities>
          <log>
            <table>lengow_log</table>
          </log>
        </entities>
      </lengow_mysql4>
    </models>
    <resources>
      <lengow_setup>
        <setup>
          <module>Lengow_Marketplace</module>
        </setup>
      </lengow_setup>
    </resources>
    <blocks>
      <lengow>
        <class>Lengow_Marketplace_Block</class>
      </lengow>
    </blocks>
    <helpers>
      <lengow_marketplace>
        <class>Lengow_Marketplace_Helper</class>
      </lengow_marketplace>
    </helpers>
  </global>
  <adminhtml>
    <translate>
      <modules>
        <lengow_marketplace>
          <files>
            <default>Lengow_Connector.csv</default>
          </files>
        </lengow_marketplace>
      </modules>
    </translate>
    <layout>
      <updates>
        <lengow_marketplace>
          <file>lengow.xml</file>
        </lengow_marketplace>
      </updates>
    </layout>
  </adminhtml>
  <phpunit>
    <suite>
      <modules>
        <Lengow_Marketplace />
      </modules>
      <fixture>
        <lengow_log>lengow/lengow_log</lengow_log>
      </fixture>
    </suite>
  </phpunit>
</config>
