/*body > .wrapper > .footer {background:transparent;}

#footer {
  height: 60px;
  background-color: #D6D6D6;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

Magento fix
body {font-size:12px;}
table.actions td.pager {text-align: left;}
ul#nav {margin:0;padding:0;}*/



body.lengow-connector .middle {
  padding:0px;
}

.footer {
  padding:0px;
}

/* HOME */
#lengow-iframe {
  width: 100%;
  min-height:632px;
  border:0px;
}

/* PRODUCT */
span.publish_on_lengow {
  text-align: center;
  display: block;
  width:auto;
  color:white;
  border-radius: 10px;
}
span.publish_on_lengow.green {
  background:#89B963;
}
span.publish_on_lengow.red {
  background:#C4676B;
}