body > .wrapper > .footer {background:transparent;}

#footer {
  height: 60px;
  background-color: #D6D6D6;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Magento fix */
body {font-size:12px;}
table.actions td.pager {text-align: left;}
ul#nav {margin:0;padding:0;}