/***************************************************************************************************************************************************/
/*                 COMPONENTS                    */
/***************************************************************************************************************************************************/
/*FONTS*/

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);  /* check this */
}

@font-face {
    font-family: 'Open sans';
    src: url(../fonts/OpenSans-Regular.ttf);  /* check this */
}

@font-face {
    font-family: Lato-bold;
    src: url(../fonts/Lato-Bold.ttf);  /* check this */
}



/*************************************************/
/*                      BOXES                    */
/*************************************************/

.lgw-box{
    background: white;
    display:block;
    border-radius: 3px;
    padding: 45px 60px 45px;
    box-shadow: 0 3px 0 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
    position:relative;
    top:0;
    font-family: 'Open sans';
}

.lgw-box-link .lgw-box{
    top:0;
    color:#555;
    text-decoration: none;
    transition: top 100ms ease,
    box-shadow 100ms ease;
}
a.lgw-box-link:hover{
    text-decoration: none;
}
.lgw-box-link:hover .lgw-box{
    top:-6px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.05);
}
.img-circle{
    border-radius: 50%;
}


body.lengow-connector .blue_frame,
.blue-frame{
    border-radius:3px;
    margin-bottom:15px;
    padding:30px;
    background: #cdf1ff;
    border: 1px solid #00aeef;
    color: #2e6592;
}

body.lengow-connector .grey_frame{
  background:#f7f7f7;
  padding:30px;
  border:1px solid #d7d7d7;
  border-radius:3px;
  margin-bottom:15px;
}

body.lengow-connector .grey_frame input[type="text"]{
    background:white;
}

/*************************************************/
/*                    IFRAME                     */
/*************************************************/

#lengow-iframe {
  width:100%;
  min-height:632px;
  border:0px;
}

/*************************************************/
/*                    TABLE                      */
/*************************************************/

.lengow_table_center {
    line-height:50px;
}

/*************************************************/
/*                    LABELS                     */
/*************************************************/

.lgw-label{
    font-size:13px;
    background:#ebebeb;
    color:#828282;
    height:23px;
    line-height:23px;
    margin:15px 0;
    padding:0 20px;
    border-radius:12px;
    display:inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.lgw-label-red,
.lgw-label-canceled,
.lgw-label.red{
    color:white;
    background:#e55a4d;
}

.lgw-label.orange{
    color:white;
    background:#fbb829;
}

.lgw-label.green{
    color:white;
    background:#7ac279;
}

.lgw-label.blue{
    color:white;
    background:#4bb5c1;
}

.lgw-label-waiting-shipment,
.lgw-label-accepted {
    border:1px solid #7ac279;
    color:#7ac279;
    background:transparent;
    line-height:21px;
}

/*************************************************/
/*                    TOOLTIP                    */
/*************************************************/

.lengow_tooltip {
    position:relative;
    color:#000;
    text-decoration:none;
    font-weight:bold;
}
 
.lengow_tooltip:hover {
    z-index:1070;
    background-color:#FFF
}
 
.lengow_tooltip span {
    display:none
}
 
.lengow_tooltip:hover span {
    display:block;
    position:absolute;
    background-color:#000;
    color:#FFF;
    border-radius:4px;
    padding:3px 8px;
    text-align:center;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:11px;
    font-style:normal;
    font-weight:normal;
    line-height:1.42857143;
    text-align:center;
    max-width:200px;
    opacity:.9;
}

span.lengow_specific_product_support,
span.lengow_out_of_stock_suuport{
    width:150px;
}

.lengow_product_store_name span {
    bottom:30px;
    left:-70px;
    width:200px;
}


a.lengow_tooltip.lgw-btn{
  white-space: normal; 
}

.lengow_export_feed span {
    bottom:20px;
    left:-45px;
    width:80px;
}

span.lengow_order_action {
    bottom:40px;
    left:-20px;
    width:150px;
}

span.lengow_order_country {
    bottom:20px;
    left:-15px;
}

span.lengow_toolbox_message {
    bottom:20px;
    left:-70px;
    width:200px;
}

span.no_indexation {
    bottom:20px;
    left:-50px;
    width:100px;
}

span.last_indexation {
    bottom:20px;
    left:-70px;
    width:150px;
}

/*************************************************/
/*                    BUTTONS                    */
/*************************************************/

.lgw-btn{
    border-radius:3px;
    padding:10px 20px;
    margin:15px 0;
    color:white;
    text-decoration: none !important;
    background:#00aeef;
    position:relative;
    transition: all 100ms ease;
    border:0;
    display:inline-block;
    cursor:pointer;
    outline: none !important;
    white-space: nowrap;
}
.lgw-btn a{
  color:#fff !important;
}
.lgw-btn:hover,
.lgw-btn:active{
    background:#019ce2;
    color:white;
}


/* RED */
.lgw-btn-red{
    background:#e55a4d;
}
.lgw-btn-red:hover,
.lgw-btn-red:focus{
    background:#da493b;
}

/* WHITE */

.lgw-btn-white{
    background-color:#fff;
    border:1px solid #d7d7d7;
    color:#828282;
}
.lgw-btn-white:hover,
.lgw-btn-white:focus{
    background-color:#f7f7f7;
    color:#555 !important;
}

/* GREEN */

.lgw-btn-green{
    background-color:#7ac279;
}

.lgw-btn-green:hover,
.lgw_btn_green:focus{
    background-color:#66b165;
}

.lengow_toolbar .lengow_btn{
    margin-right:15px;
}

/*************************************************/
/*                    SWITCH                     */
/*************************************************/


.lgw-switch{
    display:inline-block;
    padding-left:0;
    margin-bottom: 5px;
}

.lgw-switch input[type="checkbox"]{
    display: block;
    margin: 0;
    padding: 0;
    opacity: .01;
    position: absolute;
}
.lgw-switch label{
    padding-left: 0;
    font-weight:400;
    cursor: pointer;
    line-height:22px;
    font-size: 15px;
    color: #828282;
    transition: all 100ms ease;
}
.lgw-switch div{
    width:42px;
    float:left;
    padding:2px;
    border-radius:50px;
    margin-right:7px;
    border:0;
    background: #d7d7d7;
    transition: all 100ms ease;
}
.lgw-switch span{
    display:block;
    height:18px;
    width:18px;
    background:white;
    border-radius:50%;
    left:0;
    top:0;
    position:relative;
    transition: all 100ms ease;
}

.lgw-switch:hover div,
.lgw-switch:focus div{
    background-color: #c0c0c0;
}

.lgw-switch.checked label{
    color:#555;
}
.lgw-switch.checked div{
    background:#7ac279;
}
.lgw-switch.checked span{
    left:24px;
}
.lgw-switch.checked:hover div,
.lgw-switch.checked:focus div{
    background:#66b165;
}

/***************************************************************************************************************************************************/
/*                    LAYOUT                                                                                                                        */
/***************************************************************************************************************************************************/

body.lengow-connector .middle, 
.lengow_body{
    background:#f7f7f7;
}
.lengow_body .nobootstrap{
    background:transparent;
    width:auto;
    min-width: inherit;
    margin: 0 auto;
    position:relative;
}
.lgw-container{
    width:990px;
    margin:0 auto;
}

/* GRID */

.lgw-row{
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
}
.lgw-row:after{
   clear: both;
   content: " ";
   display:block;
   width:100%;
}
.lgw-col-9,
.lgw-col-8,
.lgw-col-7,
.lgw-col-6,
.lgw-col-5,
.lgw-col-4{
    padding:0 15px;
    float:left;
    box-sizing: border-box;
}
.lgw-col-9{
    width:75%;
}
.lgw-col-8{
    width:66.66%;
}
.lgw-col-7{
    width:58.33%;
}
.lgw-col-6{
    width:50%;
}
.lgw-col-5{
  width:41.67%;
}
.lgw-col-4{
    width:33.33%;
}
.lgw-col-offset-2 {
    margin-left: 16.66666667%;
}
.lgw-col-3{
    width:25%;
}
.clearfix{
    clear:both;
}

/* SECTIONS */

.lgw-content-section{
    margin-bottom: 60px;
}

/* SPACING */

.no-padding{
  padding:0 !important;
}

.no-margin{
  margin:0 !important;
}
.no-margin-top{
  margin-top:0 !important;
}
.vertical-center{
  margin-top:50%;
}

.margin-standard{
  margin-bottom: 30px;
}

.marginTB{
  margin:60px 0;
}

/* PLACEMENT */

.pull-left{
  float:left !important;
}

.pull-right{
  float:right !important;
}

/* FONT WEIGHT*/
b,
.bold{
  font-weight: 600;
}

/*************************************************/
/*                     LISTS                     */
/*************************************************/

ul,li{
  margin:0;
  padding:0;
  list-style:none;
}

/*************************************************/
/*                     FONTS                     */
/*************************************************/


.lgw-container{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #464646;
}
.lgw-box h1,
.lgw-box h2,
.lgw-box h3,
.lgw-box h4,
.lgw-box h5,
.lgw-box h6,
.lgw-container h1,
.lgw-container h2,
.lgw-container h3,
.lgw-container h4,
.lgw-container h5,
.lgw-container h6{
    font-family:'Lato', sans-serif;
}
.lgw-box h1,
.lgw-container h1{
  font-size: 32px;
  font-weight:900;
  margin:30px 0;
}
.lgw-box h2,
.lgw-container h2{
  font-size: 23px;
  margin:15px 0 30px;
}
.lgw-box h3,
.lgw-container h3{
  font-size: 19px;
  color:#464646;
}
.lgw-box h4,
.lgw-container h4{
  font-size: 17px;
}
.lgw-box h5,
.lgw-box h6,
.lgw-container h5,
.lgw-container h6{
  /*font-size: 17px;*/
  font-style:italic;
}
.lgw-box p,
.lgw-container p{
  line-height:1.7;
  margin:0 0 10px;
}
.lgw-box .small,
.lgw-container .small{
  font-size:13px;
}
.lgw-box .light,
.lgw-container .light{
  color:#828282;
}

.lgw-box a{
    color:#00aeef;
    text-decoration: none;
}
.lgw-box a:hover{
    color:#019ce2;
    text-decoration: underline;
}
.sub-link
.lgw-container .sub-link{
  color:#464646;
  text-decoration: underline;
}
.sub-link:hover
.lgw-container .sub-link:hover{
  color: #00aeef;
}

.lgw-container label{
  text-shadow:none;
  width:inherit;
  float:none;
  text-align: left;
  display:block;
  font-weight: 600;
  margin-bottom: 7px;
}
.stats-big-value{
  font-size: 32px;
  font-weight: 300;
  line-height:normal;
}
code{
  white-space: pre-wrap;
  display:inline-block;
  word-break: break-all;
  padding:5px 15px;
  margin-bottom:15px;
  color: #c7254e;
  background-color: #f9f2f4;
}

.nowrap{
  white-space: nowrap;
}

/* ICONS*/

a.lengow_link_tooltip {
    padding: 0 5px;
    margin-top: 0;
    color:#555;
}


/* ALIGN */

.text-left{
    text-align:left;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}

hr{
  border:0;
  border-top:1px solid #e1e1e1;
  margin-bottom:30px;
}

/*************************************************/
/*                     IMAGES                    */
/*************************************************/

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-circle{
  border-radius: 50%;
}

/***************************************************************************************************************************************************/
/*                     PAGES                                                                                                                        */
/***************************************************************************************************************************************************/



/*************************************************/
/*                    GLOBAL                     */
/*************************************************/

body.lengow-connector .middle {
  padding:23px 27px 0 27px;
  background:transparent!important;
}

.lgw-footer{
  padding:40px 0 60px 0; 
}
.lgw-footer a {
  color: #464646;
  text-decoration: underline;
}

.lgw-footer a:hover {
    color: #00aeef;
}

.clear {
    clear: both;
}

/* PREPROD */
#lgw-preprod{
  color:white;
  background:#e55a4d;
  padding:5px 10px;
  margin-bottom: 15px;
  font-size:12px;
  display: inline-block;
}

/* COUNTER FREE TRIAL */
#lgw-counter{
    color:white;
    margin-bottom: 15px;
    font-size:12px;
}

#lgw-counter a{
    color:#00aeef;
    text-decoration: none;
}

#lgw-counter a:hover{
    color:#00aeef;
    text-decoration: underline;
}


body:not(.adminhtml-lengow-home-index) #lgw-counter{
  /*float:right;*/
  /*display:initial;*/
  color:#555;
}


/*************************************************/
/*                     HOME                     */
/*************************************************/

/*Iframe*/

#lengow-iframe{
  width: 100%;
  min-height: 1047px;
  border: 0px;
  overflow-y: hidden;
}


/*Dashboard*/

.adminhtml-lengow-home-index .lengow-nav{
    display:none;
}

.adminhtml-lengow-home-index #lgw-preprod{
  color:white;
  background:#e55a4d;
  position:absolute;
  left:0px;
  font-size:12px;
  z-index:1;
  top:200px;
}

/*Counter*/
.adminhtml-lengow-home-index #lgw-counter{
    /*background:transparent;*/
    color:#555;
    margin-top:20px;
}

.adminhtml-lengow-home-index #lgw-counter a{
  text-decoration:none;
}

.adminhtml-lengow-home-index #lgw-counter a:hover{
  text-decoration:underline;
}


.adminhtml-lengow-home-index .lgw-col-4 a{
    color:#00aeef;
    text-decoration: none;
}


.adminhtml-lengow-home-index .lgw-label-red{
  padding:0 8px;
}
.lgw-home-header{
  height:240px;
  color:white;
  padding:60px 30px 0;
  background: url("../images/header.png") #2E3340 no-repeat center;
}
.adminhtml-lengow-home-index .lgw-home-header a{
    color:inherit;
    text-decoration: none;
}
.lgw-home-header h1{
  margin:15px 0 5px;
  font-weight:300;
}
.adminhtml-lengow-home-index .lgw-row h5{
    margin: 0;
    padding: 0;
    font-style: initial;
    font-size: 15px;
}
.lgw-home-stats{
  margin:60px 0 30px;
}
.lgw-home-menu .lgw-box{
  min-height: 270px;
}
.adminhtml-lengow-home-index .lgw-container a:hover{
    /*text-decoration: none;*/
}
/*************************************************/
/*                PAGE PRODUCT                   */
/*************************************************/

span.publish-lgw {
  text-align:center;
  display:block;
  width:auto;
  color:white;
  border-radius:10px;
}

/*span.publish-lgw.green {
  background:#89B963;
}

span.publish-lgw.red {
  background:#C4676B;
}*/

#lengow_product_store_name {
  display:inline-block;
  margin-right:10px;
}

#parent_total_products, #parent_exported_products {
    display:inline-block;
}


#parent_exported_products{
  font-weight: bold;
}

a.lengow_check_store {
    padding-left: 3px;
    padding-right: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}

#lengow_store_sync {
    background-color: #45bf7b;
}
#lengow_store_no_sync {
    background-color: #e55a4d;
}

#lengow_check_store {
    margin-bottom: 5px;
    margin-top:30px;
}

#lengow_check_store a {
  color:#2f2f2f;
  text-decoration: underline;
}

#lengow_check_store a:hover {
  color: #00aeef;
}

.lengow_export_feed{
    position: absolute;
    top: 120px;
    right: 60px;
}

body.adminhtml-lengow-product-index .products-exported{ 
    font-size: 17px;
    margin-bottom: -10px;
}

body.adminhtml-lengow-product-index .lengow_total{ 
    font-size: 17px;
    margin-bottom: -10px;
}

#parent_total_products{
    color: #828282;
}



/*************************************************/
/*                PAGE ORDER                     */
/*************************************************/

body.adminhtml-lengow-order-index a.lengow_action {
    cursor: pointer;
}

body.adminhtml-lengow-order-index .lgw-col-8,
body.adminhtml-lengow-order-index .lgw-col-4{
  padding:0;
}

/*************************************************/
/*                PAGE DEBUG                     */
/*************************************************/

#store-information,
#global-information,
#cron-information,
#checksum-information {
    width:100%;
    margin:auto;
}

#lengow_action_grid .content-header {
    display:none;
}

.lengow-block {
    width:45%;
    float:left;
    padding:2%;
}

.lengow-block-full {
    width:96%;
    padding:2%;
}

.lengow-block-full textarea {
    width:97%;
    min-width:400px;
    height:300px;
    resize:none;
    padding:2%;
    border-color:#ddd;
}

.lengow-block table,
.lengow-block-full table {
    border-collapse:separate;
    border-spacing:2px;
    border-color:grey;
    margin-bottom:20px;
    width:100%;
}

.lengow-block table td,
.lengow-block-full table td {
    padding:8px;
    line-height:1.42857143;
    vertical-align:top;
    border-top:1px solid #ddd;
}

.lengow-block table .title,
.lengow-block-full table .title {
    text-align:left;
}

.lengow-block table .value,
.lengow-block-full table .value  {
    text-align:right;
}

.lengow-green {
    color:green;
}

.lengow-red {
    color:red;
}

.lengow-content-header {
    width:100%;
    border-top:2px solid #ddd;
    margin-top:5px;
    margin-bottom:10px;
}

#lengow_action_grid {
    margin-top:15px;
}

/*************************************************/
/*                SALES ORDER                     */
/*************************************************/

body.adminhtml-sales-order-view #sales_order_view_tabs_TAB_NAME_content  button,
body.adminhtml-sales-order-view #sales_order_view_tabs_TAB_NAME_content button a{
    color:#fff;
    text-decoration: none;
}

body.adminhtml-sales-order-view #sales_order_view_tabs_TAB_NAME_content button:hover,
body.adminhtml-sales-order-view #sales_order_view_tabs_TAB_NAME_content button a:hover{
    color:#fff;
    text-decoration: none;
}

#lgw-info-title {
  float: left;
}

#lgw-info-btn {
  float:right;
}
