<?xml version="1.0"?>
<config>
    <modules>
        <Lengow_Connector>
            <version>3.0.0</version>
        </Lengow_Connector>
    </modules>
    <frontend>
        <routers>
            <lengow>
                <use>standard</use>
                <args>
                    <module>Lengow_Connector</module>
                    <frontName>lengow</frontName>
                </args>
            </lengow>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <lengow_connector before="Mage_Adminhtml">Lengow_Connector_Adminhtml</lengow_connector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <lengow>
                <class>Lengow_Connector_Model</class>
                <resourceModel>lengow_resource</resourceModel>
            </lengow>
            <lengow_resource>
                <class>Lengow_Connector_Model_Resource</class>
                <entities>
                    <import_order>
                        <table>lengow_order</table>
                    </import_order>
                    <import_orderline>
                        <table>lengow_order_line</table>
                    </import_orderline>
                    <import_ordererror>
                        <table>lengow_order_error</table>
                    </import_ordererror>
                    <import_action>
                        <table>lengow_action</table>
                    </import_action>
                    <log>
                        <table>lengow_log</table>
                    </log>
                </entities>
            </lengow_resource>
            <core>
                <rewrite>
                    <config>Lengow_Connector_Model_Config</config>
                </rewrite>
            </core>
        </models>
        <resources>
            <lengow_setup>
                <setup>
                    <module>Lengow_Connector</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </lengow_setup>
        </resources>
        <events>
            <model_save_after>
                <observers>
                    <events_after_save>
                        <type>singleton</type>
                        <class>Lengow_Connector_Model_Observer</class>
                        <method>onAfterSave</method>
                    </events_after_save>
                </observers>
            </model_save_after>
            <sales>
                <order>
                    <statuses>
                        <lengow_technical_error translate="label">
                            <label>Lengow Technical Error</label>
                        </lengow_technical_error>
                    </statuses>
                    <states>
                        <lengow_technical_error translate="label">
                            <label>Lengow Technical Error</label>
                            <statuses>
                                <lengow_technical_error default="1"/>
                            </statuses>
                        </lengow_technical_error>
                    </states>
                </order>
            </sales>
            <sales_order_shipment_save_after>
                <observers>
                    <lengow_shipment_save_after>
                        <class>Lengow_Connector_Model_Observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </lengow_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_shipment_track_save_after>
                <observers>
                    <lengow_shipment_track_save_after>
                        <class>Lengow_Connector_Model_Observer</class>
                        <method>salesOrderShipmentTrackSaveAfter</method>
                    </lengow_shipment_track_save_after>
                </observers>
            </sales_order_shipment_track_save_after>
            <sales_order_payment_cancel>
                <observers>
                    <lengow_payment_cancel>
                        <class>Lengow_Connector_Model_Observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </lengow_payment_cancel>
                </observers>
            </sales_order_payment_cancel>
        </events>
        <blocks>
            <lengow>
                <class>Lengow_Connector_Block</class>
            </lengow>
        </blocks>
        <helpers>
            <lengow_connector>
                <class>Lengow_Connector_Helper</class>
            </lengow_connector>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <system_config_edit>Lengow_Connector_Block_Adminhtml_System_Config_Edit</system_config_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <fieldsets>
            <lengow_convert_address>
                <company>
                    <to_customer>company</to_customer>
                    <to_billing_address>company</to_billing_address>
                    <to_shipping_address>company</to_shipping_address>
                </company>
                <last_name>
                    <to_customer>lastname</to_customer>
                    <to_billing_address>lastname</to_billing_address>
                    <to_shipping_address>lastname</to_shipping_address>
                </last_name>
                <first_name>
                    <to_customer>firstname</to_customer>
                    <to_billing_address>firstname</to_billing_address>
                    <to_shipping_address>firstname</to_shipping_address>
                </first_name>
                <email>
                    <to_customer>email</to_customer>
                    <to_billing_address>email</to_billing_address>
                    <to_shipping_address>email</to_shipping_address>
                </email>
                <phone_home>
                    <to_billing_address>telephone</to_billing_address>
                    <to_shipping_address>telephone</to_shipping_address>
                </phone_home>
                <address>
                    <to_billing_address>street_full</to_billing_address>
                    <to_shipping_address>street_full</to_shipping_address>
                </address>
                <zipcode>
                    <to_billing_address>postcode</to_billing_address>
                    <to_shipping_address>postcode</to_shipping_address>
                </zipcode>
                <city>
                    <to_billing_address>city</to_billing_address>
                    <to_shipping_address>city</to_shipping_address>
                </city>
                <common_country_iso_a2>
                    <to_billing_address>country_id</to_billing_address>
                    <to_shipping_address>country_id</to_shipping_address>
                </common_country_iso_a2>
            </lengow_convert_address>
        </fieldsets>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lengow_global_options>
                                            <title>Lengow Global settings</title>
                                        </lengow_global_options>
                                        <lengow_export_options>
                                            <title>Lengow Export settings</title>
                                        </lengow_export_options>
                                        <lengow_import_options>
                                            <title>Lengow Import settings</title>
                                        </lengow_import_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <lengow_connector>
                    <file>lengow.xml</file>
                </lengow_connector>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <module_update_admin_menu>
                        <class>Lengow_Connector_Model_Observer</class>
                        <method>updateAdminMenu</method>
                    </module_update_admin_menu>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <export_cron_lengow>
                <schedule>
                    <cron_expr>* */4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>lengow/observer::exportCron</model>
                </run>
            </export_cron_lengow>
            <import_cron_lengow>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>lengow/observer::importCron</model>
                </run>
            </import_cron_lengow>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Lengow_Connector/>
            </modules>
            <fixture>
                <lengow_log>lengow/lengow_log</lengow_log>
            </fixture>
        </suite>
    </phpunit>
    <default>
        <lengow_global_options>
            <store_credential>
                <global_store_enable>0</global_store_enable>
            </store_credential>
            <advanced>
                <global_tracking_id>sku</global_tracking_id>
            </advanced>
        </lengow_global_options>
        <lengow_export_options>
            <simple>
                <export_selection_enable>0</export_selection_enable>
                <export_out_stock>0</export_out_stock>
                <export_product_type>simple,configurable</export_product_type>
            </simple>
            <advanced>
                <export_default_shipping_country>FR</export_default_shipping_country>
                <export_default_shipping_method>flatrate_flatrate</export_default_shipping_method>
                <export_parent_image>0</export_parent_image>
                <export_legacy_enable>0</export_legacy_enable>
                <export_file_enable>0</export_file_enable>
                <export_cron_enable>0</export_cron_enable>
            </advanced>
        </lengow_export_options>
        <lengow_import_options>
            <simple>
                <import_days>5</import_days>
                <import_customer_group>0</import_customer_group>
                <import_default_shipping_method>lengow_lengow</import_default_shipping_method>
            </simple>
            <advanced>
                <import_preprod_mode_enable>0</import_preprod_mode_enable>
                <import_cron_enable>0</import_cron_enable>
            </advanced>
        </lengow_import_options>
        <payment>
            <lengow>
                <active>1</active>
                <model>lengow/payment_method_lengow</model>
                <order_status>pending</order_status>
                <title>Lengow Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </lengow>
            <lengow_purchaseorder>
                <active>1</active>
                <model>lengow/payment_method_lengow</model>
                <order_status>new</order_status>
                <title>Lengow Payment (version 1.x)</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </lengow_purchaseorder>
        </payment>
        <carriers>
            <lengow>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>lengow/shipping_carrier_lengow</model>
                <name>Shipping from marketplace</name>
                <title>Lengow</title>
            </lengow>
        </carriers>
    </default>
</config>
