<?xml version="1.0"?>
<config>
    <modules>
        <Lengow_Connector>
            <version>3.0.0</version>
        </Lengow_Connector>
    </modules>
    <frontend>
        <routers>
            <lengow>
                <use>standard</use>
                <args>
                    <module>Lengow_Connector</module>
                    <frontName>lengow</frontName>
                </args>
            </lengow>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <lengow_connector before="Mage_Adminhtml">Lengow_Connector_Adminhtml</lengow_connector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--<admin>
      <routers>
        <lengow>
          <use>admin</use>
          <args>
            <module>Lengow_Connector</module>
            <frontName>lengow</frontName>
          </args>
        </lengow>
        <adminhtml>
          <args>
            <modules>
              <Lengow_Connector before="Mage_Adminhtml">Lengow_Connector_Adminhtml</Lengow_Connector>
            </modules>
          </args>
        </adminhtml>
      </routers>
    </admin>-->
    <global>
        <models>
            <lengow>
                <class>Lengow_Connector_Model</class>
                <resourceModel>lengow_resource</resourceModel>
            </lengow>
            <lengow_resource>
                <class>Lengow_Connector_Model_Resource</class>
                <entities>
                    <import_order>
                        <table>lengow_order</table>
                    </import_order>
                    <import_orderline>
                        <table>lengow_order_line</table>
                    </import_orderline>
                    <import_ordererror>
                        <table>lengow_order_error</table>
                    </import_ordererror>
                    <import_action>
                        <table>lengow_action</table>
                    </import_action>
                    <log>
                        <table>lengow_log</table>
                    </log>
                </entities>
            </lengow_resource>
            <core>
                <rewrite>
                    <config>Lengow_Connector_Model_Config</config>
                </rewrite>
            </core>
        </models>
        <resources>
            <lengow_setup>
                <setup>
                    <module>Lengow_Connector</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </lengow_setup>
        </resources>
        <events>
            <model_save_after>
                <observers>
                    <events_after_save>
                        <type>singleton</type>
                        <class>Lengow_Connector_Model_Observer</class>
                        <method>onAfterSave</method>
                    </events_after_save>
                </observers>
            </model_save_after>
        </events>
        <blocks>
            <lengow>
                <class>Lengow_Connector_Block</class>
            </lengow>
        </blocks>
        <helpers>
            <lengow_connector>
                <class>Lengow_Connector_Helper</class>
            </lengow_connector>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <system_config_edit>Lengow_Connector_Block_Adminhtml_System_Config_Edit</system_config_edit>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lengow_global_options>
                                            <title>Lengow Global Configuration</title>
                                        </lengow_global_options>
                                        <lengow_export_options>
                                            <title>Lengow Export Feed Configuration</title>
                                        </lengow_export_options>
                                        <lengow_import_options>
                                            <title>Lengow Import Order Configuration</title>
                                        </lengow_import_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <lengow_connector>
                    <file>lengow.xml</file>
                </lengow_connector>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <module_update_admin_menu>
                        <class>Lengow_Connector_Model_Observer</class>
                        <method>updateAdminMenu</method>
                    </module_update_admin_menu>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Lengow_Connector/>
            </modules>
            <fixture>
                <lengow_log>lengow/lengow_log</lengow_log>
            </fixture>
        </suite>
    </phpunit>
    <default>
        <lengow_global_options>
            <store_credential>
                <global_store_enable>0</global_store_enable>
            </store_credential>
            <advanced>
                <global_tracking_id>sku</global_tracking_id>
            </advanced>
        </lengow_global_options>
        <lengow_export_options>
            <simple>
                <export_selection_enable>0</export_selection_enable>
                <export_out_stock>0</export_out_stock>
                <export_product_type>simple,configurable</export_product_type>
            </simple>
            <advanced>
                <export_default_shipping_country>FR</export_default_shipping_country>
                <export_default_shipping_method>flatrate_flatrate</export_default_shipping_method>
                <export_parent_image>0</export_parent_image>
                <export_file_enable>0</export_file_enable>
                <export_cron_enable>0</export_cron_enable>
            </advanced>
        </lengow_export_options>
        <lengow_import_options>
            <simple>
                <import_days>5</import_days>
                <import_customer_group>0</import_customer_group>
            </simple>
            <advanced>
                <import_preprod_mode_enable>0</import_preprod_mode_enable>
                <import_cron_enable>0</import_cron_enable>
            </advanced>
        </lengow_import_options>
    </default>
</config>
