<?xml version="1.0"?>
<config>
    <tabs>
        <lengow translate="label" module="lengow_connector">
            <label>module.name</label>
            <sort_order>210</sort_order>
        </lengow>
    </tabs>
    <sections>
        <lengow_global_options translate="label" module="lengow_connector">
            <label>lengow_setting.global_setting</label>
            <tab>lengow</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <simple>
                    <label>lengow_setting.global_simple_setting</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                    </fields>
                </simple>
                <advanced>
                    <label>lengow_setting.global_advanced_setting</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                    </fields>
                </advanced>
            </groups>
        </lengow_global_options>
        <lengow_export_options translate="label" module="lengow_connector">
            <label>lengow_setting.export_setting</label>
            <tab>lengow</tab>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <simple translate="label comment">
                    <label>lengow_setting.export_simple_setting</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                        <export_selection_enable>
                            <label>lengow_setting.export_selection_enable_label</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </export_selection_enable>
                        <export_out_stock>
                            <label>lengow_setting.export_out_stock_label</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </export_out_stock>
                        <export_product_type>
                            <label>lengow_setting.export_product_type_label</label>
                            <comment></comment>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>lengow/system_config_source_types</source_model>
                        </export_product_type>
                        <export_product_status>
                            <label>lengow_setting.export_product_status_label</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>lengow/system_config_source_status</source_model>
                        </export_product_status>
                    </fields>
                </simple>
                <advanced translate="label comment">
                    <label>lengow_setting.export_advanced_setting</label>
                    <comment></comment>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>2</sort_order>
                    <fields>
                        <export_attribute>
                            <label>lengow_setting.export_attribute_label</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>lengow/system_config_source_getattributes</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </export_attribute>
                        <export_default_shipping_country>
                            <label>lengow_setting.export_default_shipping_country_label</label>
                            <comment>lengow_setting.export_default_shipping_country_comment</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </export_default_shipping_country>
                        <export_default_shipping_method>
                            <label>lengow_setting.export_default_shipping_method_label</label>
                            <comment>lengow_setting.export_default_shipping_method_comment</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_allmethods</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </export_default_shipping_method>
                        <export_default_shipping_price>
                            <label>lengow_setting.export_default_shipping_price_label</label>
                            <comment>lengow_setting.export_default_shipping_price_comment</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </export_default_shipping_price>
                        <export_parent_image>
                            <label>lengow_setting.export_parent_image_label</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </export_parent_image>
                        <export_file_enabled>
                            <label>lengow_setting.export_file_enabled_label</label>
                            <comment>lengow_setting.export_file_enabled_comment</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </export_file_enabled>
                        <export_cron_enabled>
                            <label>lengow_setting.export_cron_enabled_lable</label>
                            <comment>lengow_setting.export_cron_enabled_comment</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </export_cron_enabled>
                    </fields>
                </advanced>
            </groups>
        </lengow_export_options>
        <lengow_import_options translate="label" module="lengow_connector">
            <label>lengow_setting.import_setting</label>
            <tab>lengow</tab>
            <frontend_type>text</frontend_type>
            <sort_order>30</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <simple>
                    <label>lengow_setting.import_simple_setting</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                    </fields>
                </simple>
                <advanced>
                    <label>lengow_setting.import_advanced_setting</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                    </fields>
                </advanced>
            </groups>
        </lengow_import_options>
    </sections>
</config>